.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
[Bb]uild/
[Ll]og/


*.dll
*.exe
*.pdb
*.cache
*.deps.json
*.runtimeconfig.json


logs/
*.log

wwwroot/_framework/
wwwroot/_content/
wwwroot/service-worker-assets.js

Platforms/**/bin/
Platforms/**/obj/

publish/
*.Publish.xml
*.pubxml
*.pubxml.user

node_modules/
npm-debug.log*
yarn-error.log*

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.lnk

_ReSharper*/
*.DotSettings.user

TestResults/
.coverage
.coveragexml

appsettings.Development.json
appsettings.Local.json
secrets.json
